{% extends 'base.html' %}
{% block content %}
<h2>Visited Sights</h2>




{% for sight in sights %}
{% if sight.visited %}
<div>
<a href="/sights/{{sight.id}}">{{sight.name}}</a>
<p>{{sight.city.name}}</p>
<div>
<p>You have already  visited this sight</p>

</div>
<form action="/sights/{{ sight.id }}/visited" method="POST">
    <input type="submit" value="Move to Bucket List" />  
</form>
</div>
<br>

{% endif %}
{% endfor %}

<a href="/sights/notvisited">Go to Sights Bucket List</a>

{% endblock %}