{% extends 'base.html' %}
{% block content %}
<h2 class="h2">Visited Sights</h2>



<div class="content">
{% for sight in sights %}
{% if sight.visited %}
<div class="box">
<a href="/sights/{{sight.id}}">{{sight.name}}</a>
<p>{{sight.city.name}}</p>
<div>
<p>You have already  visited this sight</p>

</div>
<form action="/sights/{{ sight.id }}/visited" method="POST">
    <input type="submit" value="Move to Bucket List" />  
</form>
</div>


{% endif %}
{% endfor %}
</div>
<a class="link_in_content" href="/sights/notvisited">Go to Sights Bucket List</a>

{% endblock %}