{% extends 'base.html' %}
{% block content %}

<form action="/addcountry" method="POST">
    <label for="country">Country</label>
    <input type="text" id="country" name="country" placeholder="country" required autofocus>


        <label for="visited">Visited</label>
        <select id="visited" name="visited">
                <option value="True">Visited</option>
                <option value="False">Will Visit in the Future</option>
        </select>

    <button type="submit">Add Country</button>



{% endblock %}