{% extends "base.html" %}
{% block content %}
<div class="edit_form_container">

<div  class="edit_form">


<form action="/countries/{{country.id}}" method="post">
    <label for="country">Name:</label>
    <input type="text" id="country" name="country" value="{{country.name}}" required autofocus>

    <label for="picture_url">Picture URL:</label>
    <input type="text" id="picture_url" name="picture_url" placeholder="picture_url" required autofocus>

    <label for="visited">Visited?</label>
    <select id="visited" name="visited">
            <option value="True">Yes</option>
            <option value="False">No</option>
    </select>

    <button type="submit">Update Country</button>


    
    
</form>
</div>
</div>

{% endblock %}