{% extends 'base.html' %}
{% block content %}
<h2>Countries on Bucket List</h2>




{% for country in countries %}
{% if not country.visited %}
<div>
<a href="/countries/{{country.id}}">{{country.name}}</a>
<div>
<p>You haven't visited this country yet</p>
</div>
<form action="/countries/{{ country.id }}/notvisited" method="POST">
    <input type="submit" value="Mark as Visited" />  
</form>
</div>
<br>
{% endif %}
{% endfor %}
<a href="/countries/visited">Go to Visited Countries</a>

{% endblock %}