{% extends 'base.html' %}
{% block content %}

<form action="/bycountry" method = "POST">

    <div>
        <label for="country">Country</label>
        <select id="country" name="country_id">
            {% for country in countries%}
                <option value={{country.id}}>{{country.name}}</option>
            {% endfor %}
        </select>
    </div>
    {% for country in countries %}
    {{country.name}}
    {% endfor %}
    

    <button type="submit">Search Destination</button>
</form>


{% endblock %}
