{% extends "base.html" %}
{% block content %}
<div class="edit_form_container">
<div  class="show_form">
    <p>{{country.name}}</p>
        {% if country.visited %}
        <p>You've visited this country</p>
        {% else %}
        <p>You haven't visited this country yet</p>
        {% endif %}

    <a class="show_links" href="/countries/{{country.id}}/edit">Edit Country</a>

<form action="/countries/{{ country.id }}/delete" method="POST">
    <input type="submit" value="delete" /></form>

</div>
</div>
<h2 class="h2">Cities in {{country.name}}</h2>

<div class="content">
{% for city in cities %}
{% if city.country.name == country.name %}
<div class="box">
    <div class="overlay">
        <a href="/cities/{{city.id}}"><img src="{{city.picture_url}}" alt="image" width="228px" height="228px"></a>
        <p class="name_in_box">{{city.name}}</p>
        
        
</form>
</div>
</div>
{% endif %}
{% endfor %}
</div>

<h2 class="h2">Sights in {{country.name}}</h2>
<div class="content">
{% for sight in sights %}
{% if sight.city.country.name == country.name%}
<div class="box">
<div class="overlay">
    <a href="/sights/{{sight.id}}"><img src="{{sight.picture_url}}" alt="image" width="228px" height="228px"></a>
    <p class="name_in_box">{{sight.name}}, {{sight.city.name}}</p>
</form>
</div>
</div>
{% endif %}
{% endfor %}
</div>


{% endblock %} 