body{
    background-image: url(img/hexellence.png);
    color: #303030;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 0 !important;
}

header 
{
    width: 100%;
    padding: 40px, 0;
    margin-top: 0;

}

.logo 
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin-top: 0;

}

.menu {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #303030;
    height: 60px;
    text-align: center;



    position: sticky;
    top: 0px;
}

.menu_ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 22px;
    line-height: 270%;
    height: 60px;
    display: inline-block;


}  


ul a{
    color: whitesmoke;
    text-decoration: none;
    display: block;

}
ul > li {
    float: left;
    width: 160px;
    height: 60px;
}



ul > li:hover {
    background-color: #858585;
}

ul > li:hover > a {
    color: #303030 ;
}

ul > li > ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}
ul > li > ol > li {
    background-color: #b8b8b8;
    position: relative;
    z-index: 100;

}

ul > li > ol > li:hover {
    background-color: #303030;
}
ul > li > ol > li > a {
    color: #303030 ;
}
ul > li > ol > li:hover > a {
    color: whitesmoke ;
}

ul > li:hover > ol {
    display: block;
}

.content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

#footer {
    width: 1000px;
    display: grid;
    align-items: flex-end;

}

.socials{
    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}


.fb{
    width: 230px;
    height: 40px;
    background-color: #4668b3;
    opacity: 0.4;
    display: flex;
    align-items: center;
    justify-content: center;

}
.fb:hover{
    background-color: #4668b3;
    opacity: 1;
}
.ig{
    width: 230px;
    height: 40px;
    background-color: #405DE6;
    opacity: 0.4;
    display: flex;
    align-items: center;
    justify-content: center;

}
.ig:hover{
    background-color: #405DE6;
    opacity: 1;
}

.pin{
    width: 230px;
    height: 40px;
    background-color: #E60023;
    opacity: 0.4;
    display: flex;
    align-items: center;
    justify-content: center;

}
.pin:hover{
    background-color: #E60023;
    opacity: 1;
}

.git{
    width: 230px;
    height: 40px;
    background-color: #c9510c;
    opacity: 0.4;
    display: flex;
    align-items: center;
    justify-content: center;

}
.git:hover{
    background-color: #c9510c;
    opacity: 1;
}
#bottom {
    background-color: #303030;
    color: whitesmoke;
    width: 100% !important;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    width: 20%;
}



