body{
    background-image: url(img/hexellence.png);
    color: #303030;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 0 !important;
}




header 
{
    width: 100%;
    padding: 40px, 0;
    margin-top: 0;

}

.logo 
{
    width: 1000px;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 0;

}

.menu {
    width: 100%;
    padding: 10px 0;
    background-color: #303030;
    text-align: center;
    border-top: 3px solid #202020;
    border-bottom: 3px solid #202020;
    height: 40px;
}

.menu_ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 25px;
    line-height: 200%;
    display: inline-flex;
}

ol {
    list-style-type: none;
}

ul a{
    color: whitesmoke;
    text-decoration: none;
    display: block;
    padding-inline: 15px;
}

.content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 1000px;

}

.socials{
    width: 100%;
    text-align: center;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.fb{
    width: 230px;
    height: 40px;
    background-color: #4668b3;
    opacity: 0.4;

}
.fb:hover{
    background-color: #4668b3;
    opacity: 1;
}
.ig{
    width: 230px;
    height: 40px;
    background-color: #405DE6;
    opacity: 0.4;

}
.ig:hover{
    background-color: #405DE6;
    opacity: 1;
}

.pin{
    width: 230px;
    height: 40px;
    background-color: #E60023;
    opacity: 0.4;

}
.pin:hover{
    background-color: #E60023;
    opacity: 1;
}

.git{
    width: 230px;
    height: 40px;
    background-color: #3095d3;
    opacity: 0.4;

}
.git:hover{
    background-color: #3095d3;
    opacity: 1;
}


