{% extends "base.html" %}
{% block content %}


<form action="/addcity" method="POST">

    <div>
        <label for="city">City</label>
        <input type="text" id="city" name="city" placeholder="City" required autofocus>
    </div>
    <div>
        <label for="visited">Visited?:</label>
        <select id="visited" name="visited">
        <option value="True">Yes</option>
        <option value="False">No</option>
        </select>
    </div>
    <div>
        <label for="country">Country</label>
        <select id="country" name="country_id">
            {% for country in countries%}
                <option value={{country.id}}>{{country.name}}</option>
            {% endfor %}
        </select> <p>If country is not on the list, you can add your country <a href="/addcountry">here.</a></li></p>
    </div>
    <button type="submit">Add City</button>

</form>




{% endblock %}