{% extends "base.html" %}
{% block content %}
<div class="edit_form_container">

<div  class="edit_form">
<form action="/cities/{{city.id}}" method="post">
    <label for="city">Name:</label>
    <input type="text" id="city" name="city" value="{{city.name}}" required autofocus>

    <label for="country">Country:</label>
    <select id="country" name="country_id">
        {% for country in countries%}

            <option value={{country.id}}>{{country.name}}</option>
        {% endfor %}
    </select> 
    <p class="small_text">If country is not on the list, you can add country<a class="small_link" href="/addcountry">here</a></p>
    
    <label for="picture_url">Picture URL:</label>
    <input type="text" id="picture_url" name="picture_url" placeholder="picture_url" required autofocus>

    <label for="visited">Visited?</label>
    <select id="visited" name="visited">
            <option value="True">Yes</option>
            <option value="False">No</option>
    </select>

    <button type="submit">Update City</button>


    
    
</form>

</div>
</div>
{% endblock %}