{% extends 'base.html' %}
{% block content %}
<h2 class="h2">Visited Cities</h2>



<div class="content">
{% for city in cities %}
{% if city.visited %}
<div class="box">
<a href="/cities/{{city.id}}">{{city.name}}</a>
<p>{{city.country.name}}</p>
<div>
<p>You have already  visited this city</p>

</div>
<form action="/cities/{{ city.id }}/visited" method="POST">
    <input type="submit" value="Move to Bucket List" />  
</form>
</div>
{% endif %}
{% endfor %}
</div>


<a class="link_in_content" href="/cities/notvisited">Go to Cities Bucket List</a>

{% endblock %}