{% extends 'base.html' %}
{% block content %}
<h2 class="h2">Visited Cities</h2>



<div class="content">
{% for city in cities %}
{% if city.visited %}
<div class="box">
    <div class="overlay">
        <a href="/cities/{{city.id}}"><img src="{{city.picture_url}}" alt="image" width="228px" height="228px"></a>
        <p class="name_in_box">{{city.name}}, {{city.country.name}}</p>
        <form class="link_in_box" action="/cities/{{ city.id }}/visited" method="POST">
        <input class="button" type="submit" value="Move to Bucket List" />  
</form>
</div>
</div>
{% endif %}
{% endfor %}
</div>


<a class="link_in_content" href="/cities/notvisited">Go to Cities Bucket List</a>

{% endblock %}